*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --default-background-color:#fff;
    --base-font-size:1rem;
    --default-font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --card-width:300px;
}

body{
    display: flex;
    flex-direction: column;
}

.mobile-screen-nav{
    position:sticky;
    top:0;
    left:0;
}

.humberger-icon{
    padding:5px;
    background-color: #f5f5f5;
    border:0;
    border-bottom: 2px solid #f5f5f5;
}

.nav-items{
    display: none;
    max-width: 90%;
    background-color: #f5f5f5;
    position:absolute;
    top:50px;
    left: 0;
    border: 2px solid #f5f5f5;
    z-index: 999;
    height:100dvh;
    transition:max-width 2s;
    border-radius: 5px;
}

.nav-items .nav-item{
    padding:20px;
    border:0;
    border-bottom: 1px solid #dcdcdc;
}

.nav-item a{
    text-decoration: none;
    font-weight: 500;
    font-family: var(--default-font-family);
    color:#000000bd;
    font-size:20px;
}

.nav-item:hover{
    background-color: #00cdcf;
}
.container{
    width:100%;
    display:grid;
    grid-template-columns: 1fr;
    flex:1;
    gap:10px;
}
.profile{
    padding:10px;
    display: flex;
    flex-direction: column;
    flex-basis: 1;
}

@media screen and (min-width:700px){
    .profile{
        max-width: 500px;
        flex-direction: column;
        margin: auto;
    }
    
}
.developer-image img{
    object-fit: cover;
    width:100%;
    height: 400px;
    border-radius: 5px;
}

h2,h3{
    font-weight: bold;
    font-size:40px;
    text-align: center;
    font-family: var(--default-font-family);
}
h3{
    font-size: 20px;
    
}

.details{
    line-height: 2rem;
}
.details p{
    text-align: justify;
    font-family: var(--default-font-family);
    font-weight: 400;
    font-size:120%;

}
.projects{
    padding:10px;
}
.projects div,
.certificates div{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(230px,1fr));
    gap: 20px;
}

.about-project{
    font-family: var(--default-font-family);
    line-height: 1.5em;
}
.about-project span a{
    color:green;
    text-decoration: none;
    font-weight: bold;
}
.projects .project,
.certificates .award{
    width:var(--card-width);
    border:2px solid #f5f5f5;
    display: grid;
    margin:auto;
    grid-template-rows:max-content 200px 1fr;
    background-color: #f5f5f5;
    border-radius: 5px;
    transition: transform 200ms linear;
}

.projects .project:hover{
    transform: translateY(-50px);
    cursor: pointer;
    z-index: 99;

}

.project img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}



footer{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color:blueviolet;
}

.footer-item{
    width: 300px;
    margin:10px;
    flex-basis: 1;
}  
.social-media-info ul,
.fast-links ul{
    list-style: none;
}

.social-media-info ul li,
.fast-links ul li{
    padding:5px;
    text-align: center;
}
.social-media-info ul li a,
.fast-links ul li a{
    color:rgba(0, 0, 0, 0.743);
    text-decoration: none;
}

.fast-links ul li a:hover,
.social-media-info ul li a:hover{
    color:#fff;
    font-weight: bold;
}